body{
    background-color: rgb(228, 217, 254);
    margin-bottom: 10vh;
}

main{
    display: flex;
    flex-direction: row;
}


header{
    color: whitesmoke;
    text-align: center;
    background-color: rgb(0, 0, 183)
}

h2{
    text-align:center
}


footer{
    height: 10vh;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    background-color: rgb(0, 0, 183)
}

.d-flex{
    margin-top: 1rem;
    width: 50vw;
    margin-left: 15vw;
}

.d-flex-small{
    background-color: rgb(133, 93, 193);
    font-size: x-small;
    flex-direction: column;
    margin-top: 6rem;
    width: 20%;
    height: 10%
}
.image{
    display: flex;
    justify-content: center;
}

#head-bar{
    background-color: rgb(152, 152, 241);
    width:100%;
    padding-top: 1%;
    display:block
}